img{max-width:100%}

.caroussel_diapo input{
	
    position:absolute;
    left:-9999px
        
        }

        .caroussel {

            max-width: 500px;
            aspect-ratio:3/2;
            position: relative;
            margin:auto;
                
                }